# Prerequisites
*.d

# Compiled Object files
# *.slo
# *.lo
# *.o
# *.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

nul
*.o

# Garante que a configuração do debugger seja particular para cada desenvolvedor
.vscode/*

# .gitignore
docs/html/
docs/latex/
git diff .gitignore

# Verificar mudanças no .gitignore
git diff .gitignore

# Adicionar arquivos ao staging
git add .gitignore Doxyfile

# Adicionar a documentação, se aplicável
git add docs/

# Criar um commit
git commit -m "Atualiza o .gitignore e adiciona o Doxyfile"

# Enviar alterações para o repositório remoto
git push origin main

